<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plane</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>
<div th:each="el : ${plane}">
    <h2 th:text="${el.name}"></h2>
    <h3 th:text="${el.year}"></h3>
    <h4 th:text="${el.price}"></h4>
    <h5 th:text="${el.kolvo}"></h5>
    <h6 th:text="${el.engine}"></h6>
    <a th:href="'/plane/' + ${el.id}">Прочитать</a>
</div>
<form method="get" action="/plane/search">
    <input type="text" name="name" id="name">
    <input type="submit" value="Найти">
</form>
<a href="/plane/add" class="btn btn-primary">Добавить самолет</a>

</body>
</html>