<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dota</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="fragments/header :: defaultheader"></div>
<form action="/dota/add" method="post">

    <input type="text" id="name" name="name" placeholder="Название"><br>

    <input type="text" id="tip" name="tip" placeholder="Атрибут"><br>

    <input type="number" id="hp" name="hp" placeholder="Количество здоровья"><br>

    <input type="number" id="mana" name="mana" placeholder="Количество маны"><br>

    <input type="number" id="damage" name="damage" placeholder="Урон"><br>
    <input type="submit" value="Добавить персонажа" class="btn btn-success"><br>
</form>

<a href="/dota/" class="btn btn-primary">Назад</a>

</body>
</html>