<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Atribut</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="fragments/header :: defaultheader"></div>
<div th:each="el : ${atribut}" th:object="${atribut}">
  <form th:action="'/atribut/edit/' + ${el.id}" method="post">
    <p>Название
      <input type="text" th:value="${el.name}" th:field="*{name}" id="name" name="name" placeholder="Название"><br>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </p>
    <input type="submit" value="Изменить атрибут" class="btn btn-success"><br>
  </form>
</div>
</body>
</html>