<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atribut</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>
<link rel="stylesheet" href="mysite.css">
<link rel="stylesheet" href="http://www.htmlbook.ru/main.css">
<div th:each="el : ${atribut}">
    <h2 th:text="${el.name}"></h2>
    <a th:href="'/atribut/' + ${el.id}">Прочитать</a>
</div>
<form method="get" action="/atribut/search">
    <input type="text" name="name" id="name">
    <input type="submit" value="Найти">
</form>
<a href="/atribut/add" class="btn btn-primary">Добавить атрибут</a>

</body>
</html>