<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Player</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="fragments/header :: defaultheader"></div>
<div th:each="el : ${player}" th:object="${player}">
    <form th:action="'/player/edit/' + ${el.id}" method="post">
        <p>Название
            <input type="text" th:value="${el.name}" th:field="*{name}" id="name" name="name" placeholder="Название"><br>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </p>

        <p>Персонаж</p>
        <select  name="dot" class="btn" >
            <div th:each="element : ${dota}">
                <option th:text="${element.name}"></option>
            </div>
        </select>
        <p>Звание</p>
        <select  name="rank" class="btn" >
            <div th:each="element : ${ranks}">
                <option th:text="${element.name}"></option>
            </div>
        </select>
        <p>Сервер</p>
        <select  name="ser" class="btn" >
            <div th:each="element : ${server}">
                <option th:text="${element.name}"></option>
            </div>
        </select>
        <p>Режим игры</p>
        <select  name="mod" class="btn" >
            <div th:each="element : ${mode}">
                <option th:text="${element.name}"></option>
            </div>
        </select>
        <input type="submit" value="Изменить игрока" class="btn btn-success"><br>
    </form>
</div>
</body>
</html>