<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Server</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>
<link rel="stylesheet" href="mysite.css">
<link rel="stylesheet" href="http://www.htmlbook.ru/main.css">
<div th:each="el : ${server}">
  <h2 th:text="${el.name}"></h2>
  <h3 th:text="${el.loc}"></h3>

  <a th:href="'/server/' + ${el.id}">Прочитать</a>
</div>
<form method="get" action="/server/search">
  <input type="text" name="name" id="name">
  <input type="submit" value="Найти">
</form>
<a href="/server/add" class="btn btn-primary">Добавить сервер</a>

</body>
</html>