<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <div th:insert="fragments/header :: defaultheader"></div>
  <title>Spring Security</title>
</head>

<body>
<center>
<div th:if="${param.error}">
  Неверный логин или пароль.
</div>
<div th:if="${param.logout}">
  Вы вышли.
</div>
<form th:action="@{/login}" method="post">
  <div> <input placeholder="Login" type="text" name="username"/> </div>
  <div> <input placeholder="Password" type="password" name="password"/> </div>
  <div><input type="submit" value="Войти"/></div>
  <a href="/registration">Зарегистрироваться</a>
</form>
</center>
</body>
</html>