<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>History</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="fragments/header :: defaultheader"></div>
<div th:each="el : ${history}" th:object="${history}">
    <form th:action="'/history/edit/' + ${el.id}" method="post">
        <p>Название
            <input type="text" th:value="${el.name}" th:field="*{name}" id="name" name="name" placeholder="Название"><br>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </p>
        <p>Игра</p>
        <select  name="gm" class="btn" >
            <div th:each="element : ${game}">
                <option th:text="${element.name}"></option>
            </div>
        </select>
        <p>Игрок</p>
        <select  name="pl" class="btn" >
            <div th:each="element : ${player}">
                <option th:text="${element.name}"></option>
            </div>
        </select>
        <input type="submit" value="Изменить историю" class="btn btn-success"><br>
    </form>
</div>
</body>
</html>